@charset "utf-8";
/* 登陆
----------------------------------*/
.w-login-body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
#w-form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.w-form-login-title {
    margin-bottom: 10px;
    color: #009900;
}
#w-form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
#w-form-login .form-control:focus {
    z-index: 2;
}
#w-form-login #username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#w-form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#captchaval, .w-captcha-box {
	margin-bottom: 8px;
}
.w-captcha-img {
	margin-right: 8px;
}