@charset "utf-8";
/* 全局
----------------------------------*/
a {
    color: #060;
}
a:hover {
    color: #F00;
}

/* 验证码
----------------------------------*/
.w-captcha-update {
    color: #C00;
    cursor: pointer;
}
